.row{
    padding-left: 10px;
}

.term-Container{
	width: 100%;
	padding-left: 40px;
	padding-top: 20px;
    padding-bottom:20px;
    width: absolute ;
}
.hide{
	opacity: 0;
}
.save-container{
	border: 1px solid black;
	height: auto   ;
	padding-left: 5px;
    margin-left:0px;
	background-color: white;
}

body{
    background: fixed;
}
.cross{
	background: #FF5555;
	cursor: pointer;
	width: 6px;
	height: 20px;
	position: relative;
	margin-left: 10px;
	transform: rotate(45deg);
}
.cross:before{
	background: #FF5555;
	content: "";
	width: 20px;
	height: 6px;
	position: absolute;
	top: 6px;
	left: -6px;
}
.saveContainer{
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #ddd;
	margin-bottom: 2px;
	padding: 5px 5px;
	justify-content: space-around;
   
}
.save{
	border: none;
	background-color: inherit;
}
.idea{
	height: 5em;
    text-align: left;
    font-weight: bold;
    
}
.description{
	height: 5em;
    text-align: left;
    margin-left:1em;
}
.btn{
	margin-left: 1%;
    -webkit-box-shadow: 11px 11px 30px -13px rgba(179,179,179,1);
    -moz-box-shadow: 11px 11px 30px -13px rgba(179,179,179,1);
    box-shadow: 11px 11px 30px -13px rgba(179,179,179,1);
}

.row{
    margin-top:5px;
}
.container{
    margin-top: 10px;
}

width: 14%;