@charset "utf-8";
/* CSS Document */

/* Platzhalterbild um Einrückung anzupassen, oben links*/

.prototyping__placeholder-image1 img {
	
	height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
	margin-top: 70px;
	margin-left: 70px;
	
	
} 
/* Platzhalterbild um Einrückung anzupassen, unten links*/

.prototyping__placeholder-image2 img {
	
	height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
	margin-left: 150px;
	margin-top: 10px;
} 
/* Platzhalterbild um Einrückung anzupassen, oben rechts*/

.prototyping__placeholder-image3 img {
	
	height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
	margin-top: 20px;
	margin-left: -75px;
	
} 

/* Platzhalterbild um Einrückung anzupassen, unten rechts*/

.prototyping__placeholder-image4 img {
	
	height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
	margin-left: -5px;
	margin-top: 10px;
	
} 

/*Einfärbung der Knöpfe*/ 


.prototyping__input, .btn-primary, .btn-primary:hover{
	background-color:#F7A7AF;
	border-color: #F7A7AF;
	


}

.prototyping__submit, .btn-primary, .btn-primary:hover {
	background-color:#F7A7AF;
	border-color: #F7A7AF;
	margin-top: 15px; 

}

/*Einrückung der Frage*/

.prototyping__question{
	margin-top: 50px;
	margin-left: 30px;
}


.prototyping__answer{
	margin-top: -20px;
	margin-left: 350px;
	
}

/*Einbinden des Post-It Hintergrundbildes*/
.protopyping__postit{
	background-image: url(../img/prototyping/New-SymplyProto-grosses-Post-it.svg);
	width: 950px;
	height: 750px;
	margin-top:-50px;
	background-repeat: no-repeat;
}