@charset "utf-8";
/* CSS Document */
.square{
		width:20px;
		height:20px;
		outline: 1px solid black;
	}

body {
	margin-top: 50px;
}


.bg-postit-left{
	background-image: url(../img/New-Brain2GoPost-it1.svg);
	background-repeat: no-repeat;
	margin-top: 50px;
	height: 32.5vw;
	width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* div Element um das Bild herum */
.brain2go__image{
	margin-top:-10px;
	text-align: center;
}

/* eigentliches Bild ansteuern*/
.brain2go__image img {
	margin-top: 5vw;
	width: 24vw;
	transform: rotate(-8deg);
}

.brain2go__button{
	margin-top: 200px;
	margin-left: 120px;
	transform: rotate(-8deg);
}



.brain2go__question{
	margin-top:80px;
	margin-left: 200px;
}

/*Ausgabe der Antworten */
.brain2go__answerlist_bg{
	width: 400px;
	height: 10px;
	background-color:#E6E6E6;
	background-repeat: no-repeat;
}
