@charset "utf-8";
/* CSS Document */


/* lila Post it auf linker Seite*/

.post2paper1-postit-left{
	background-image: url(../img/post2paper1/New-PostP1.svg);
	background-repeat: no-repeat;
	margin-top: 50px;
	height: 600px;
	width: 500px;}

/* div um Bild herum */

.post2paper__image{
	text-align: center;
}
/*Eigentliches Bild */

.post2paper1__image img{
	margin-top: 70px;
	margin-left: 80px;
	width: 350px;
	transform: rotate(-5deg);
}

/*Eingabefeld */
.form-control, .font-md{
	margin-left: 150px;
    margin-top: 35px;


}

/*Submit Button Einfärbung */

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	
	background-color:#DDCDEC !important;
	border-color:#DDCDEC !important;
	margin-left: -200px;
	margin-top: 100px; 
    
}

.post2paper1__question, .font-bg{
	margin-left: 130px;
	margin-top: 100px;
}

/*Ausgegeben Antworten*/

.post2paper1-answerlist-bg{
	width: 350px;
	height: 30px;
	margin-top: 50px;
	margin-left:100px;
	background-color:#E6E6E6;
	}