	/* Grund-CSS: Hintergrundbild Grösse und Position, Aussenabstand, Zeilenabstand*/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
	background-image: url("../img/Hintergrund.jpg") !important;
	margin: auto;
	background-position: center;
    background-repeat: repeat;
   	background-size: cover;
	line-height: 1rem;
}

	/* normale Schriftgrösse für Antworten, Fliesstext, Erklärungen */
.font-md{
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}

* {
	font-family: Arial, sans-serif;
}

	/* grosse Schriftgrösse für Fragen, Überschriften, Titel*/
.font-bg{
	font-size: 1.5em;
	font-weight: bold;
}

	/* Alles folgende gilt für Gruppe Kompression: Container Aussenabstände, Farbe und Styling Textbox */
.container{
	margin-top: 1em;
}

.background-yellow{
	background-color: rgb(251,208,113);
}

.textboxes{
	padding: 10px;
	background-color: #eee;
	color: black;
	cursor: pointer;
	text-align: center;
	border: 0;
	border-left: 5px solid white;
	margin: 5px;
	-webkit-box-shadow: 3px 3px 2px 0px rgba(168,168,168,1);
	-moz-box-shadow: 3px 3px 2px 0px rgba(168,168,168,1);
	box-shadow: 3px 3px 2px 0px rgba(168,168,168,1);
}