@charset "utf-8";
/* CSS Document */

/*Linke Post It Seite from design-group */
.pinkslabs-postit-left{
	background-image: url(../img/pinkslab/New-Pinklaps-Post-it2.svg);
	background-repeat: no-repeat;
	height:600px;
	width:400px;
	margin-left:50px;
	margin-top:20px;
}

/*from design-group*/
.row{
    padding-left: 10px;
}

/*Design for the Sending-Button in the form*/
.pinklabs_btn-primary{
    color: #fff;
    background-color:#f0ad4e;
	border-color: #eea236;
    height: 5em;
    margin-left: 1em;
}

/*Design for the Sending-Button in the form while hover*/
.pinklabs_btn-primary:hover{
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

/*set background-color to answer list*/
.answer-list{
    background: #f0ad4e;
}

/*defin space between question and answer-list*/
.answer-container{
    margin-top: 1em;
}

/*Design for the input field in the form (answer)*/
.answer{
    height: 5em;
}
