@charset "utf-8";
/* CSS Document */

div {
	width: 300px;
	border: 25px solid green;
	padding: 25px;
	margin: 25px;
}

        .wrcopen2 .c {
            display: none;
        }
        .wrcopen2 label {
            display: block;
        }
        input[name='radio1'] {
            display: none;
        }
        input[name='radio1']:checked + label + .c {
            display: block;
        }