@charset "utf-8";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
/* CSS Document */

.rating-header{
	margin-top: -10px;
	margin-bottom: 10px;
}
.container {
	margin-bottom: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

body {
	background-image: url("../../img/Hintergrund.jpg") !important;
	background-position: center;
    	background-repeat: repeat;
	background-size: auto;
	background-attachment: fixed;
	margin: auto;
	width: 100%;
	line-height: 1rem;
}

	/* Schriften */

* {
	font-family: Arial, sans-serif;
}

.font-md{
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}

.font-bg{
	font-size: 1.5em;
	font-weight: bold;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block;
  cursor:pointer;
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;
} /* Set yellow color when star hover */



.fas {
	margin-right: 20px;
	margin-top: 10px;
}

#accordion {
	margin-left: 100px;
}
		
#accordion .fa-minus-circle {
	display: none;
	visibility: hidden;
}

#accordion .punkte {
	display: none;
}
		
		
#right {
	margin-left: 75px;
}

#right .bewertung {
	display: none;
}
		
.card {
	padding: 0 !important;
}