

p.protoyping.uploadMessage{

}

p.prototyping.uploadMessage.ok{
	background-color: lightgreen;
}
p.prototyping.uploadMessage.error{
	background-color: red;
}


img.prototyping.answerImg{
	width: 100px;
	height: auto;
}